{% extends "base.py.jinja" %}

{% block content %}
from refit.host import Host
from refit.registry import HostRegistry


host_registry = HostRegistry()


@host_registry.register(environment='production')
class {{ titlecase_name }}Production(Host):
    address = '127.0.0.1'
    environment_vars = {}


@host_registry.register(environment='test')
class {{ titlecase_name }}Test(Host):
    address = '127.0.0.1'
    environment_vars = {}
{% endblock %}
