{% extends "base.py.jinja" %}

{% block content %}
import os


FILES_FOLDER = os.path.join(
    os.path.dirname(
        os.path.abspath(__file__)
    ),
    'files'
)


TEMPLATES_FOLDER = os.path.join(
    os.path.dirname(
        os.path.abspath(__file__)
    ),
    'templates'
)
{% endblock %}
